In [102]:
import numpy as np
import pandas as pd

In [103]:
data=pd.read_csv('/content/Clustering.csv')

In [104]:
data

       Age    State  ...          DeliveryOye! DeliveryExp
0       55    Bihar  ...  Does not do delivery          No
1       35    Bihar  ...  Does not do delivery         Yes
2       22  Haryana  ...  Does not do delivery         Yes
3      NaN      NaN  ...                   NaN         NaN
4       31    Bihar  ...  Does not do delivery          No
...    ...      ...  ...                   ...         ...
10622  NaN      NaN  ...                   NaN         NaN
10623  NaN      NaN  ...                   NaN         NaN
10624  NaN      NaN  ...                   NaN         NaN
10625  NaN      NaN  ...                   NaN         NaN
10626  NaN      NaN  ...                   NaN         NaN

[10627 rows x 13 columns]

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10627 entries, 0 to 10626
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2623 non-null   object
 1   State          2614 non-null   object
 2   Freq_Rickshaw  2631 non-null   object
 3   qualification  2631 non-null   object
 4   SocialMedia    2631 non-null   object
 5   Owns           2631 non-null   object
 6   Method         2631 non-null   object
 7   LoanFrom       2077 non-null   object
 8   Parking        2631 non-null   object
 9   BatteryAge     2631 non-null   float64
 10  BatteryType    2631 non-null   object
 11  DeliveryOye!   2631 non-null   object
 12  DeliveryExp    2631 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [106]:
data.isnull().sum()

Age              8004
State            8013
Freq_Rickshaw    7996
qualification    7996
SocialMedia      7996
Owns             7996
Method           7996
LoanFrom         8550
Parking          7996
BatteryAge       7996
BatteryType      7996
DeliveryOye!     7996
DeliveryExp      7996
dtype: int64

In [107]:
data.columns

Index(['Age', 'State', 'Freq_Rickshaw', 'qualification', 'SocialMedia', 'Owns',
       'Method', 'LoanFrom', 'Parking', 'BatteryAge', 'BatteryType',
       'DeliveryOye!', 'DeliveryExp'],
      dtype='object')

In [108]:
data=data.dropna()

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2064 entries, 0 to 10620
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2064 non-null   object
 1   State          2064 non-null   object
 2   Freq_Rickshaw  2064 non-null   object
 3   qualification  2064 non-null   object
 4   SocialMedia    2064 non-null   object
 5   Owns           2064 non-null   object
 6   Method         2064 non-null   object
 7   LoanFrom       2064 non-null   object
 8   Parking        2064 non-null   object
 9   BatteryAge     2064 non-null   float64
 10  BatteryType    2064 non-null   object
 11  DeliveryOye!   2064 non-null   object
 12  DeliveryExp    2064 non-null   object
dtypes: float64(1), object(12)
memory usage: 225.8+ KB

In [110]:
data.isnull().sum()

Age              0
State            0
Freq_Rickshaw    0
qualification    0
SocialMedia      0
Owns             0
Method           0
LoanFrom         0
Parking          0
BatteryAge       0
BatteryType      0
DeliveryOye!     0
DeliveryExp      0
dtype: int64

In [111]:
data

      Age          State  ...          DeliveryOye! DeliveryExp
0      55          Bihar  ...  Does not do delivery          No
1      35          Bihar  ...  Does not do delivery         Yes
2      22        Haryana  ...  Does not do delivery         Yes
4      31          Bihar  ...  Does not do delivery          No
8      26          Bihar  ...  Does not do delivery          No
...    ..            ...  ...                   ...         ...
10572  35          Delhi  ...  Does not do delivery          No
10578  25  Uttar Pradesh  ...  Does not do delivery          No
10588  22          Delhi  ...  Does not do delivery          No
10602  38          Delhi  ...  Does not do delivery          No
10620  27  Uttar Pradesh  ...  Does not do delivery          No

[2064 rows x 13 columns]

In [112]:
data.to_csv('ProfilingData.csv')

In [113]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.7/dist-packages (0.11.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)

In [114]:
from kmodes.kprototypes import KPrototypes

In [115]:
data.columns

Index(['Age', 'State', 'Freq_Rickshaw', 'qualification', 'SocialMedia', 'Owns',
       'Method', 'LoanFrom', 'Parking', 'BatteryAge', 'BatteryType',
       'DeliveryOye!', 'DeliveryExp'],
      dtype='object')

In [116]:
data.head()

  Age    State  ...          DeliveryOye! DeliveryExp
0  55    Bihar  ...  Does not do delivery          No
1  35    Bihar  ...  Does not do delivery         Yes
2  22  Haryana  ...  Does not do delivery         Yes
4  31    Bihar  ...  Does not do delivery          No
8  26    Bihar  ...  Does not do delivery          No

[5 rows x 13 columns]

In [117]:
arr=data.values

In [118]:
arr

array([['55', 'Bihar', 'Daily', ..., 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['35', 'Bihar', 'Daily', ..., 'Lead acid (2 battery set)',
        'Does not do delivery', 'Yes'],
       ['22', 'Haryana', 'Daily', ..., 'Lead acid (4 battery set)',
        'Does not do delivery', 'Yes'],
       ...,
       ['22', 'Delhi', 'Daily', ..., 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['38', 'Delhi', 'Daily', ..., 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['27', 'Uttar Pradesh', 'Daily', ..., 'Lead acid (4 battery set)',
        'Does not do delivery', 'No']], dtype=object)

In [119]:
arr[:,10]=arr[:,9].astype(float)

In [120]:
kproto=KPrototypes(n_clusters=5,verbose=2,max_iter=20)

In [121]:
clusters=kproto.fit_predict(arr,categorical=[0,1,2,3,4,5,6,7,8,10,11,12])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 954, ncost: 79497.36546521484
Run: 1, iteration: 2/20, moves: 673, ncost: 73343.3995099231
Run: 1, iteration: 3/20, moves: 288, ncost: 72542.0767780107
Run: 1, iteration: 4/20, moves: 42, ncost: 72536.51161582931
Run: 1, iteration: 5/20, moves: 4, ncost: 72536.29509451108
Run: 1, iteration: 6/20, moves: 0, ncost: 72536.29509451108
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 387, ncost: 73123.52871104845
Run: 2, iteration: 2/20, moves: 251, ncost: 72583.70684256637
Run: 2, iteration: 3/20, moves: 181, ncost: 72299.34876738217
Run: 2, iteration: 4/20, moves: 78, ncost: 72288.10081240041
Run: 2, iteration: 5/20, moves: 0, ncost: 72288.10081240041
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 342, ncost: 62945.48029362023
Run: 3, iteration: 2/20, moves: 221, ncost: 59386.266980417786
Run: 3, iteration: 3/20, moves: 74, ncost: 55868.183796208265
Run: 3, iteration: 4/20, moves: 115, ncost: 46393.46431494307
Run: 3, iteration: 5/20, moves: 58, ncost: 43845.07359873297
Run: 3, iteration: 6/20, moves: 0, ncost: 43845.07359873297
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 285, ncost: 58987.88065622338
Run: 4, iteration: 2/20, moves: 164, ncost: 50084.118585205426
Run: 4, iteration: 3/20, moves: 131, ncost: 43351.11753605671
Run: 4, iteration: 4/20, moves: 53, ncost: 40000.42872722469
Run: 4, iteration: 5/20, moves: 13, ncost: 38740.96566397107
Run: 4, iteration: 6/20, moves: 1, ncost: 38740.52024839797
Run: 4, iteration: 7/20, moves: 0, ncost: 38740.52024839797
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 632, ncost: 72488.05492552338
Run: 5, iteration: 2/20, moves: 247, ncost: 72353.83414963551
Run: 5, iteration: 3/20, moves: 23, ncost: 72344.42703853456
Run: 5, iteration: 4/20, moves: 0, ncost: 72344.42703853456
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 600, ncost: 62774.018297010174
Run: 6, iteration: 2/20, moves: 206, ncost: 59364.22820896682
Run: 6, iteration: 3/20, moves: 96, ncost: 55922.97668028069
Run: 6, iteration: 4/20, moves: 66, ncost: 46380.25598946819
Run: 6, iteration: 5/20, moves: 83, ncost: 43838.19752999908
Run: 6, iteration: 6/20, moves: 2, ncost: 43838.12842204637
Run: 6, iteration: 7/20, moves: 0, ncost: 43838.12842204637
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 514, ncost: 73014.21751202738
Run: 7, iteration: 2/20, moves: 298, ncost: 72074.67147978744
Run: 7, iteration: 3/20, moves: 145, ncost: 71698.21667025075
Run: 7, iteration: 4/20, moves: 271, ncost: 66315.09564303038
Run: 7, iteration: 5/20, moves: 263, ncost: 62742.279898518114
Run: 7, iteration: 6/20, moves: 91, ncost: 59355.869259494735
Run: 7, iteration: 7/20, moves: 38, ncost: 55992.7765096164
Run: 7, iteration: 8/20, moves: 106, ncost: 46341.83925232564
Run: 7, iteration: 9/20, moves: 124, ncost: 43530.19399312842
Run: 7, iteration: 10/20, moves: 18, ncost: 43528.63978851076
Run: 7, iteration: 11/20, moves: 0, ncost: 43528.63978851076
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 545, ncost: 72299.87060869504
Run: 8, iteration: 2/20, moves: 67, ncost: 72293.61569248584
Run: 8, iteration: 3/20, moves: 0, ncost: 72293.61569248584
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 672, ncost: 62370.514695500126
Run: 9, iteration: 2/20, moves: 236, ncost: 58953.999441262196
Run: 9, iteration: 3/20, moves: 27, ncost: 55436.955931497716
Run: 9, iteration: 4/20, moves: 15, ncost: 46077.75175620263
Run: 9, iteration: 5/20, moves: 2, ncost: 43554.617852064875
Run: 9, iteration: 6/20, moves: 0, ncost: 43554.617852064875
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 383, ncost: 60703.82586802353
Run: 10, iteration: 2/20, moves: 114, ncost: 54010.72946868824
Run: 10, iteration: 3/20, moves: 51, ncost: 43567.09413570763
Run: 10, iteration: 4/20, moves: 26, ncost: 40250.3188888544
Run: 10, iteration: 5/20, moves: 5, ncost: 38990.168723571594
Run: 10, iteration: 6/20, moves: 1, ncost: 38989.69267727991
Run: 10, iteration: 7/20, moves: 0, ncost: 38989.69267727991
Best run was number 4

In [122]:
print(kproto.cluster_centroids_)

[['22.407894736842106' '22' 'Bihar' 'Daily' 'Below 10th' 'Yes' 'Yes'
  'EMI/Loan' 'Local lenders' 'Charging / parking Vendor' '18.0'
  'Does not do delivery' 'No']
 ['6.278928136419001' '32' 'Bihar' 'Daily' 'Below 10th' 'Yes' 'Yes'
  'Downpayment' 'Local lenders' 'In his house' '6.0'
  'Does not do delivery' 'No']
 ['12.081159420289856' '32' 'Bihar' 'Daily' 'Below 10th' 'Yes' 'Yes'
  'EMI/Loan' 'Bank' 'In his house' '12.0' 'Does not do delivery' 'No']
 ['139.0' '24' 'Bihar' 'Daily' 'Below 10th' 'No' 'Yes' 'Downpayment'
  'Bank' 'Charging / parking Vendor' '129.0'
  'Delivery for local shops / offline' 'No']
 ['2.4884146341463413' '30' 'Bihar' 'Daily' 'Below 10th' 'Yes' 'Yes'
  'EMI/Loan' 'Bank' 'In his house' '3.0' 'Does not do delivery' 'No']]

In [123]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [124]:
cluster_dict

[2,
 2,
 4,
 1,
 4,
 2,
 4,
 4,
 4,
 4,
 4,
 2,
 4,
 0,
 2,
 1,
 4,
 4,
 4,
 4,
 0,
 0,
 1,
 2,
 1,
 2,
 4,
 2,
 0,
 4,
 1,
 1,
 4,
 4,
 1,
 2,
 1,
 1,
 4,
 2,
 1,
 4,
 2,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 1,
 1,
 1,
 4,
 4,
 1,
 1,
 2,
 2,
 0,
 1,
 4,
 0,
 1,
 2,
 4,
 0,
 1,
 4,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 4,
 4,
 2,
 4,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 1,
 0,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 4,
 4,
 1,
 2,
 1,
 1,
 4,
 4,
 1,
 4,
 2,
 1,
 0,
 4,
 1,
 1,
 1,
 4,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 4,
 2,
 4,
 4,
 0,
 2,
 4,
 4,
 1,
 1,
 4,
 2,
 4,
 0,
 1,
 1,
 1,
 2,
 4,
 1,
 4,
 1,
 4,
 2,
 1,
 1,
 0,
 4,
 4,
 1,
 4,
 1,
 4,
 4,
 1,
 2,
 4,
 1,
 4,
 4,
 1,
 2,
 4,
 1,
 4,
 4,
 4,
 4,
 0,
 1,
 4,
 2,
 4,
 1,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 1,
 4,
 4,
 1,
 1,
 4,
 2,
 1,
 4,
 2,
 1,
 4,
 4,
 2,
 1,
 1,
 4,
 1,
 1,
 1,
 4,
 0,
 1,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 4,
 1,
 4,
 4,
 2,
 2,
 4,
 1,
 4,
 4,
 1,
 2,
 4,
 4,
 1,
 1,
 4,
 1,
 1,
 2,
 1,
 4,
 2,
 4,
 1,
 2,
 2,
 1,
 1,
 4,
 2,
 4,
 2,
 4,
 4,
 4,
 4,
 1,
 4,
 1,
 4,
 1,
 2,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 1,
 1,
 2,
 4,
 2,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 4,
 4,
 4,
 1,
 1,
 4,
 1,
 2,
 4,
 1,
 4,
 4,
 2,
 1,
 2,
 4,
 4,
 1,
 4,
 1,
 0,
 2,
 4,
 1,
 4,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 4,
 1,
 1,
 4,
 1,
 4,
 1,
 1,
 1,
 2,
 4,
 1,
 0,
 1,
 4,
 1,
 4,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 2,
 1,
 1,
 4,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 2,
 2,
 2,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 2,
 4,
 4,
 1,
 4,
 1,
 2,
 4,
 4,
 1,
 0,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 4,
 1,
 2,
 1,
 1,
 2,
 1,
 4,
 1,
 4,
 2,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 1,
 4,
 0,
 2,
 4,
 4,
 4,
 0,
 4,
 1,
 2,
 4,
 1,
 4,
 4,
 4,
 2,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 1,
 2,
 4,
 4,
 2,
 4,
 1,
 4,
 1,
 4,
 4,
 4,
 2,
 2,
 1,
 1,
 2,
 4,
 2,
 4,
 1,
 2,
 4,
 0,
 2,
 1,
 4,
 2,
 1,
 1,
 4,
 2,
 1,
 4,
 1,
 4,
 4,
 2,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 4,
 2,
 4,
 1,
 4,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 2,
 2,
 1,
 4,
 1,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 4,
 1,
 4,
 1,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 0,
 4,
 1,
 1,
 2,
 2,
 2,
 4,
 1,
 4,
 1,
 1,
 4,
 1,
 2,
 4,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 0,
 4,
 1,
 4,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 2,
 1,
 4,
 4,
 1,
 1,
 2,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 2,
 2,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 2,
 1,
 4,
 4,
 2,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 1,
 4,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 4,
 2,
 4,
 4,
 1,
 4,
 2,
 4,
 4,
 1,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 0,
 1,
 2,
 4,
 1,
 1,
 2,
 2,
 4,
 4,
 4,
 4,
 4,
 1,
 2,
 4,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 4,
 0,
 0,
 4,
 4,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 0,
 1,
 4,
 4,
 1,
 4,
 2,
 1,
 1,
 1,
 4,
 1,
 2,
 1,
 2,
 4,
 1,
 4,
 4,
 4,
 4,
 2,
 4,
 2,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 2,
 4,
 0,
 4,
 1,
 4,
 1,
 1,
 1,
 2,
 4,
 4,
 4,
 1,
 2,
 1,
 1,
 4,
 4,
 4,
 1,
 2,
 4,
 2,
 2,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 4,
 1,
 1,
 2,
 2,
 4,
 4,
 0,
 1,
 4,
 4,
 4,
 4,
 2,
 4,
 1,
 4,
 2,
 1,
 1,
 2,
 4,
 0,
 4,
 0,
 1,
 2,
 0,
 0,
 2,
 4,
 4,
 1,
 4,
 4,
 4,
 1,
 2,
 2,
 0,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 1,
 4,
 2,
 0,
 1,
 1,
 4,
 1,
 4,
 1,
 1,
 4,
 2,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 4,
 4,
 0,
 0,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 0,
 1,
 4,
 4,
 1,
 1,
 1,
 4,
 1,
 2,
 2,
 4,
 4,
 1,
 2,
 0,
 1,
 4,
 4,
 2,
 1,
 4,
 1,
 1,
 4,
 1,
 1,
 4,
 1,
 4,
 1,
 4,
 1,
 1,
 1,
 0,
 4,
 4,
 1,
 4,
 4,
 4,
 4,
 2,
 1,
 2,
 4,
 4,
 4,
 0,
 1,
 4,
 1,
 4,
 4,
 1,
 4,
 2,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 2,
 4,
 4,
 1,
 2,
 4,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 4,
 ...]

In [125]:
data['Category']=cluster_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
data

      Age          State  ... DeliveryExp Category
0      55          Bihar  ...          No        2
1      35          Bihar  ...         Yes        2
2      22        Haryana  ...         Yes        4
4      31          Bihar  ...          No        1
8      26          Bihar  ...          No        4
...    ..            ...  ...         ...      ...
10572  35          Delhi  ...          No        4
10578  25  Uttar Pradesh  ...          No        4
10588  22          Delhi  ...          No        1
10602  38          Delhi  ...          No        1
10620  27  Uttar Pradesh  ...          No        2

[2064 rows x 14 columns]

In [127]:
data[data['Category']==0].head(15)

    Age           State  ... DeliveryExp Category
41   26   Uttar Pradesh  ...          No        0
67   39   Uttar Pradesh  ...          No        0
71   22           Bihar  ...          No        0
99   22   Uttar Pradesh  ...          No        0
198  25           Bihar  ...          No        0
242  23   Uttar Pradesh  ...          No        0
261  27  Madhya Pradesh  ...          No        0
271  29   Uttar Pradesh  ...          No        0
282  21           Bihar  ...          No        0
285  21           Bihar  ...          No        0
292  22       Jharkhand  ...          No        0
299  35           Bihar  ...          No        0
345  35           Bihar  ...          No        0
472  30           Bihar  ...          No        0
513  32   Uttar Pradesh  ...          No        0

[15 rows x 14 columns]

In [128]:
data[data['Category']==1].head(15)

    Age          State  ... DeliveryExp Category
4    31          Bihar  ...          No        1
58   20          Bihar  ...          No        1
78   42  Uttar Pradesh  ...          No        1
85   26          Bihar  ...          No        1
106  47          Bihar  ...         Yes        1
120  25  Uttar Pradesh  ...          No        1
130  43          Bihar  ...          No        1
137  36          Bihar  ...          No        1
142  19  Uttar Pradesh  ...          No        1
159  34  Uttar Pradesh  ...          No        1
199  32      Jharkhand  ...          No        1
208  32  Uttar Pradesh  ...          No        1
209  40  Uttar Pradesh  ...          No        1
221  22          Bihar  ...          No        1
222  36          Bihar  ...          No        1

[15 rows x 14 columns]

In [130]:
data[data['Category']==2].head(15)

    Age          State  ... DeliveryExp Category
0    55          Bihar  ...          No        2
1    35          Bihar  ...         Yes        2
10   32  Uttar Pradesh  ...          No        2
30   25  Uttar Pradesh  ...          No        2
56   39  Uttar Pradesh  ...          No        2
79   39          Bihar  ...          No        2
88   24  Uttar Pradesh  ...          No        2
92   24          Bihar  ...          No        2
135  19  Uttar Pradesh  ...         Yes        2
154  40        Haryana  ...          No        2
162  32  Uttar Pradesh  ...          No        2
226  24          Bihar  ...          No        2
235  45  Uttar Pradesh  ...          No        2
268  22          Bihar  ...          No        2
277  26          Bihar  ...          No        2

[15 rows x 14 columns]

In [131]:
data[data['Category']==3].head()

     Age  State  ... DeliveryExp Category
5312  42  Bihar  ...          No        3
5593  24  Bihar  ...          No        3

[2 rows x 14 columns]

In [132]:
data[data['Category']==4].head(15)

    Age          State  ... DeliveryExp Category
2    22        Haryana  ...         Yes        4
8    26          Bihar  ...          No        4
12   29  Uttar Pradesh  ...          No        4
14   54          Bihar  ...          No        4
16   19          Bihar  ...          No        4
21   32  Uttar Pradesh  ...          No        4
24   62        Haryana  ...          No        4
39   22          Bihar  ...          No        4
59   19  Uttar Pradesh  ...          No        4
64   40          Bihar  ...          No        4
65   20          Bihar  ...          No        4
66   31  Uttar Pradesh  ...          No        4
90   29          Bihar  ...          No        4
102  40  Uttar Pradesh  ...          No        4
121  21  Uttar Pradesh  ...          No        4

[15 rows x 14 columns]

In [139]:
data[data['Category']==0].to_csv('Category_1.csv')

In [140]:
data[data['Category']==1].to_csv('Category_2.csv')

In [141]:
data[data['Category']==2].to_csv('Category_3.csv')

In [142]:
data[data['Category']==3].to_csv('Category_4.csv')

In [143]:
data[data['Category']==4].to_csv('Category_5.csv')